* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: linear-gradient(to top, #09203f 0%, #537895 100%);
  --primary-text: #e2f3f5;
  --background-btn: #ff6f47;
}

body {
  background-image: var(--background-color);
  min-height: 100vh;
  color: white;
  font-family: 'Poppins', sans-serif;
}

header {
  font-size: 1.4rem;
}

form,
header {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.select {
  position: absolute;
  text-align: center;
  margin-top: 6rem;
  width: 100%;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 1.5rem;
  border: none;
  background: white;
}

form button {
  color: white;
  background: #284866;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background: rgba(180, 255, 105, 0.973);
  color: black;
}

h1 {
  color: var(--primary-text);
}

/* Custom Select */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
  cursor: pointer;
}

select {
  width: 8.6rem;
}

.select::after {
  content: '\25BC';
  padding: 0.4rem;
  background: #284866;
  position: absolute;
  margin-right: 12px;
  width: 1rem;
  margin-left: -28px;
  pointer-events: none;
  cursor: pointer;
}
.filter-todo {
  padding: 0.4rem;
}

.todo-container {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-list {
  /* border: 1px solid red; */
  min-width: 80%;
  list-style: none;
}
.todo {
  /* border: 1px solid red; */
  display: flex;
  background: white;
  color: black;
  width: 100%;
  font-size: 1.5rem;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  transition: all 1s ease;
  border: none;
}
.todo li {
  /* border: 1px solid red; */
  flex: 1;
}

.trash-btn,
.completed-btn {
  background: var(--background-btn);
  font-size: 1rem;
  padding: 1rem;
  cursor: pointer;
  border: none;
  /* background: #ff6f47;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem; */
}
.completed-btn {
  background: rgba(180, 255, 105, 0.973);
}
