* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: linear-gradient(to top, #09203f 0%, #537895 100%);
  --primary-text: #e2f3f5;
}

body {
  background-image: var(--background-color);
  min-height: 100vh;
  color: white;
  font-family: 'Poppins', sans-serif;
}

header {
  font-size: 1.4rem;
  /* border: 1px solid black; */
}

form,
header {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form input,
form button {
  /* border: 1px solid red; */
  padding: 0.5rem;
  font-size: 1.5rem;
  border: none;
  background: white;
}

form button {
  color: white;
  background: #284866;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background: #ff6f47;
  color: white;
}

h1 {
  color: var(--primary-text);
}

/* Custom Select */
/* select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
} */
